.header {

  &__wrapper {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__logo-img {
    width: 100px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    display: block;
    margin: 20px;
    font-size: 20px;
    color: #221437;
  }

  //user-page
  &__avatar {
    position: relative;
    width: 63px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }

  &__submenu {
    position: absolute;
    right: 0px;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .3s ease;
  }

  &__submenu-item {
    display: block;
    margin: 20px 0px;
    border-bottom: dotted 1px #793CFB;
  }

  &__nav-item:hover .header__submenu {
    transform: scaleY(1);
  }

  &__logout {
    display: flex;
    justify-content: space-around;
  }
}

.color-btn{
  background-color: #793CFB;
  color: white;
}

/*message*/
.message{
  display: block;
  position: fixed;
  font-size: 20px;
  right: -310px; 
  bottom: 5vh;
  max-width: 310px;
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: 15px;
  animation-name: move;
  animation-duration: 4s;
  z-index: 300;
  color: #270;
  background-color: #DFF2BF;
  &_error{
    color: #D8000C;
    background-color: #FFBABA;
  }
}
  


@keyframes move {
  0% { right: -310px; }
  50% { right: 10px; }
  100% { right: -310px; }
}