.header {

  &__wrapper {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__logo-img {
    width: 100px;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    display: block;
    margin: 20px;
    font-size: 20px;
    color: #221437;
  }

  &__login-btn {
    background-color: #793CFB;
    color: white;
  }

  &__login-btn:hover {
    background-color: #fff;
    border: 3px solid #793CFB;
    color: #793CFB;
  }
}