.header__wrapper{
  height: 110px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header__logo-img{
  width: 100px;
}
.header__nav-list{
  display: flex;  
}
.header__nav-item{
  display: block;
  margin: 20px;
  font-size: 20px;
  color: #221437; 
}
.header__avatar{
  position: relative;
  width: 140px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.header__submenu{
  position: absolute;
  
  right: 0px;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 0 0;

}
li:hover .header__submenu{
  transform: scaleY(1);
}
.header__submenu-item{
  display: block;
  margin: 20px 0px;
  border-bottom: dotted 1px #793CFB;
}
.logout{
  display: flex;
  justify-content: space-around;
}